.new_contact_main {
  width: 80%;
  margin: auto;
}
.Contact_Main {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Contact_Location {
  width: 90%;
  height: 70%;
  margin: auto;
}
.Contact_Location iframe {
  border: none;
}
.Contact_form {
  text-align: left;
  padding: 4%;
}

.Contact_heading p {
  color: #808080;
  font-size: 12px;
}
.Contact_heading h1 {
  font-size: 20px;
}
.Contact_address_phone {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.Contact_address_phone p {
  color: #808080;
  font-size: 12px;
}
.Contact_address_phone h4 {
  font-size: 12px;
}
.Contact_input {
  display: flex;
  flex-direction: column;
}
.Contact_input input {
  margin-bottom: 2%;
  padding: 1%;
  width: 92%;
  font-size: 10px;
}
.Contact_input textarea {
  font-size: 10px;
  padding: 1%;
  width: 92%;
}
.Contact_button button {
  background-color: #1eb2a6;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 2%;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .Contact_Main {
    flex-direction: row-reverse;
    grid-template-columns: repeat(1, 1fr);
  }
  .Contact_Location {
    width: 90%;
    height: 300px;
    padding-top: 2%;
    margin: auto;
  }
  .Contact_input input {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 667px) {
  .Contact_address_phone {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5%;
  }
}
